// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;400;600;900&display=swap');
// Variables
@import 'variables';
@import 'panel';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
body {
	font-family: 'Lato';
	background-color: transparent;
}

h1, h2, h3, h4, h5 {
	font-family: 'Ysabeau SC';
}

.bg-dark {
	background-color: #040404 !important;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.title {
  font-weight: 900; 
}

.title-green {
	color: #44D62C;
	font-weight: 900;
	margin: 20px;
}

.title-dark {
	color: #0c0c0c;
	font-weight: 900;
	margin: 20px;
}

.light-text {

	color: #afafaf;
	margin: 20px;
	font-size: 16px;
}

.dark-text {
	color: #0c0c0c;
	margin: 20px;
	font-size: 16px;
}

.hr-white {
	width: 20%;
	border-top: 3px solid #ffffff;
	opacity: 100%;
	margin-left: 1rem;
}

.hr-white-md {
	width: 40%;
	border-top: 3px solid #ffffff;
	opacity: 100%;
}

.hr-green {
	max-width: 20%;
	border-top: 3px solid #44D62C;
	opacity: 100%;
	margin-left: auto;
	margin-right: 20px;
}

.hr-green-lg {
	width: 60%;
	border-top: 3px solid #44D62C;
	opacity: 100%;
	margin-left: auto;
	margin-right: auto;
}

.btn-green {

	background-color: #44D62C;
	border-color: #44D62C;
	color: #ffffff;
	font-weight: bold;

	a:hover {
		background-color: #040404;
		border-color: #44D62C;
		color: #44D62C;		
	}
}
.btn-green-outline-primary{
    --bs-btn-color: #44D62C;
    --bs-btn-border-color: #44D62C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #44D62C;
    --bs-btn-hover-border-color: #44D62C;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #44D62C;
    --bs-btn-active-border-color: #44D62C;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #44D62C;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #44D62C;
    --bs-gradient: none;
}

.hero {
	background-color: #878787;
}

.h-4xl {
	height: 100px;
  }
  
  .w-full {
	width: 100%;
  }

  .white-text {

	color: #ffffff;
	margin: 20px;
	font-size: 26px;
}

.image-container{
	text-align: center;
}

.white-text2 {

	color: #ffffff;
	
	font-size: 16px;
}

video {
	width: 100%;
	height: 100%;
  }

  .bodyLogin{
	background-color: gray;
  }
  